body {
    background:linear-gradient(84deg,blue,cyan);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    overflow: hidden;
}

.resultado-container {
    text-align: center;
    animation: subir 1.5s ease-out forwards;
    position: relative;
    top: 100%;
}

.resultado {
    font-size: 500px;
    padding: 20px;
    color: white;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.boton-volver {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff9500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.boton-volver:hover {
    background-color: #ffb143;
}

@keyframes subir {
    from {
        top: 100%;
    }
    to {
        top: 0;
    }
}

@media (max-width: 480px) {
    .resultado {
        font-size: 60%;
        padding: 15px;
        width: 80%;
    }
    
    .boton-volver {
        padding: 8px 16px;
        font-size: 14px;
    }
}